<div class="center hero-unit">
  <h1>Survey Ninja</h1>

  <h2>
    Survey Ninja is your source for creating, taking, and viewing results for surveys. See below for ways that you can utilize the various survey options to get the information you require in a quick way at Survey Ninja.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("http://survey-ninja.com/images/ninja.png", alt: "Survey Ninja"), 'http://www.survey-ninja.com/' %>